body {
  text-align: center;
}

figure {
  float: left;
  width: 180px;
}

.figure_div {
  margin-left: 20px;
  display: inline-block;
}

.search_results {
  margin: auto;
}

nav {
  height: 100px;
  background-color: #42bcf4;
  margin-bottom: 30px;
}

.figure-comp {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

hr {
  overflow: hidden;
  margin: 20px auto 20px auto;
  width: 100%;
}

.request-div {
  display: inline;
}

.myBooks {
  overflow: hidden;
}

.fa-user-circle {
  color: black;
  float: right;
  margin-right: 20px;
  font-size: 35px;
}

.profile-form {
  margin: auto;
  width: 270px;
  padding-left: 10px;
  text-align: right;
}

.profile-input {
  margin-bottom: 10px;
}